@import "./transition.scss";

#app {
  height: 100%;
  width: 100%;
}
.main-box {
  min-width: calc(100% - 200px);
  min-height: 100%;
  flex: 1;
}
.main-container {
  padding: 20px;
}
.nav-header {
  padding: 10px;
  background: #f0f0f0;
}
.l-sidebar {
}
.filter-submit-btn {
  float: right;
  display: block;
  margin-bottom: 24px;
  white-space: nowrap;
}

.ant-btn {
  border-radius: 2px;
}

.ant-form-inline {
  .ant-form-item {
    display: flex;
    margin-bottom: 24px;
    margin-right: 0;

    .ant-form-item-control-wrapper {
      flex: 1 1;
      display: inline-block;
      vertical-align: middle;
    }

    > .ant-form-item-label {
      line-height: 32px;
      padding-right: 8px;
      width: auto;
      min-width: 80px;
    }
    .ant-form-item-control {
      height: 32px;
      line-height: 32px;
    }

    .ant-input {
      border-radius: 2px;
    }
    .ant-select-selection {
      border-radius: 2px;
    }
  }
}

.table-opt {
  margin-bottom: 18px;

  button {
    margin-right: 8px;
  }
}
.discard-btn {
  color: #ed6165;
}

.description {
  margin-bottom: 18px;
  .ant-row {
    line-height: 35px;
  }
  .desc-label {
  }
}

.count-text {
  font-weight: bold;
}
.submit-area {
  margin-top: 18px;
  text-align: center;
}

.ant-table-title {
  font-weight: bold;
}
.ant-table-footer {
  font-weight: bold;
}
